.dashboard-wrapper {
    width: 100%;
    height: calc(100vh - 54px);
    display: flex;
    flex-direction: row;
}

.dashboard-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #1A202C;
}

.dashboard-left-side {
    width: 50%;
    height: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-form-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: flex-start;
    padding: 20px;
}

.dashboard-wrapper-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 22px;
}

.dashboard-image {
    width: 150px;
    height: 150px;
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.dashboard-profile-pic-wrapper {
    width: 150px;
    height: 150px;
}

.dashboard-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #E8E8E8;
    transition: all 0.3s ease 0s;
    transform: scale(1.05);
}

.dashboard-profile-pic:hover {
    filter: brightness(80%);
    transform: scale(1.01);
}

.edit-photo-button {
    background: #2064FC;
border-radius: 50%;
width: 40px;
height: 40px;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
cursor: pointer;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
outline: none;
position: absolute;
bottom: 10px;
right: 0px
}

.edit-photo-button:hover {
    background-color: #0250f9;
    transform: translateY(-2px);
  }

.dashboard-label{
    font-size: 16px;
    line-height: 19px;
    color: #4A5568;
    padding-bottom: 11px;
}

.dashboard-input {
    border: 1px solid #E8E8E8;
border-radius: 5px;
min-width: 250px;
max-width: 600px;
width: 100%;
height: 50px;
font-size: 14px;
line-height: 16px;
color: #2D3748;
padding: 0px 20px;
}

.dashboard-input-same-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}

.dashboard-input-label-column {
    display: flex;
    flex-direction: column;
}

.dashboard-one-line-wrapper {
    padding-top: 22px;
    width: 100%;
}

.save-button {
    background: #2064FC;
border-radius: 5px;
width: 100px;
height: 30px;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
cursor: pointer;
margin-top: 22px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
outline: none;
}

.save-button:hover {
    background-color: #0250f9;
    transform: translateY(-2px);
  }

.dashboard-right-side {
    width: 50%;
    height: 100%;
    background-color: #FFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-card-preview-wrapper {
    max-width: 90%;
    min-width: 300px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.dashboard-user-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard-user-profile-picture {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
}



.dashboard-user-name{
    font-size: 16px;
    line-height: 19px;
    color: #4A5568;
    font-weight: bold;
}

.dashboard-user-occupation {
    font-size: 13px;
    line-height: 19px;
    color: #4A5568;
    font-style: italic;
}

.dashboard-user-phone {
    font-size: 14px;
    color: #4A5568;
    font-weight: bold;

}

.dashboard-user-address {
    font-size: 14px;
    color: #4A5568;
}

.dashboard-user-zipcode {
    font-size: 14px;
    line-height: 19px;
    color: #4A5568;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 650px){
    .dashboard-input-same-line {
        display: flex;
        flex-direction: column;
        width:100%;
    }
    
    .dashboard-input-label-column:nth-child(2) {
        padding-top: 22px;
    }

    .dashboard-left-side {
        display: none;
    }
    .dashboard-right-side { 
        width: 100%;
    }

}