.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #FAFAFA;
    height: 50px;
    padding: 0px 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
  .navbar-sticky {
    box-shadow: 1px 1px 1px #222;
    color: #FFF;
  }
  
  .navbar--link-item {
      color: #FFF;
      text-decoration: none;
      margin-right: 20px;
  }

  .navbar--link {
    list-style: none;
    display: flex;
    color: #FFF;
  }

  .logout-button {
    background: #04C45C;
border-radius: 5px;
width: 100px;
height: 30px;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
cursor: pointer;

}
  